.pingindic-label {color : #FFE5CC; font-weight: bold;font-size: 8pt}
.pingindic-button-action { icon-size: 20px; }
.pingindic-button-box { padding: 0px; spacing: 22px; }
.pingindic-Btn-label {color : #0F050C; font-weight: bold;font-size: 11pt}
.pingindic-label-level-1 {color : #7cb342; font-weight: bold; font-size: 11pt}
.pingindic-label-level-2 {color : #00FFFF; font-weight: bold; font-size: 11pt}
.pingindic-label-level-3 {color : #D26BE4; font-weight: bold; font-size: 11pt}
.pingindic-label-level-4 {color : #ffcc32; font-weight: bold; font-size: 11pt}
.pingindic-label-error {color : #f44336; font-weight: bold; font-size: 11pt}
